
.deatils{
    margin: 200px;
    font-size: 26px;
    text-align: center;
    color: red;
    font-weight: 700;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}